In [11]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import os
import pandas as pd

In [12]:
!which chromedriver

/usr/local/bin/chromedriver

In [13]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
nasa_url = 'https://mars.nasa.gov/news/'
nasa = browser.visit(nasa_url)

In [15]:
html = browser.html
soup = bs(html, 'html.parser')

In [16]:
news_title = soup.find('div', class_='content_title').text
print(news_title)

NASA Seeking Partner in Contest to Name Next Mars Rover

In [17]:
news_p= soup.find('div', class_='article_teaser_body').text
print(news_p)

NASA has a class assignment for corporations, nonprofits and educational organizations involved in science and space exploration: partner with the agency to inspire future engineers and scientists by sponsoring a contest to name the next rover to venture to the Red Planet.

In [80]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
nasa_image_url = 'https://www.jpl.nasa.gov/spaceimages/index.php'
featured_image = browser.visit(nasa_image_url)

In [81]:
html = browser.html
soup = bs(html, 'html.parser')

In [82]:
# featured_image_url = soup.find('figure', class_='lede')
full_image = soup.find('a', class_='button fancybox')
full_image

<a class="button fancybox" data-description="This view of the 'belly' and part of the 'head' of comet 67P/Churyumov-Gerasimenko indicates several morphologically different regions as seen by ESA's Rosetta spacecraft." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA18429_ip.jpg" data-link="/spaceimages/details.php?id=PIA18429" data-title="Distinct Terrains on Rosetta's Comet" id="full_image">
					FULL IMAGE
				  </a>

In [98]:
image = full_image.find('data-link')
print(image)

None

In [90]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html

In [69]:
soup = bs(html, 'html.parser')

In [70]:
attrs = {"class": "tweet", "data-name": "Mars Weather"}
tweet = soup.find('div', attrs=attrs)
mars_weather = tweet.find('p', class_='TweetTextSize').text
print(mars_weather)

Sol 2171 (2018-09-14), high -12C/10F, low -65C/-84F, pressure at 8.79 hPa, daylight 05:43-17:59

In [71]:
url = 'https://space-facts.com/mars/'
mars_facts = pd.read_html(url)
facts = mars_facts[0]
facts.colums = ['Description', 'Value']
facts

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [72]:
table = facts.to_html()

In [ ]:
facts.to_html('table.html')

In [ ]:
!open table.html

In [64]:
executable_path = {'executable_path':'/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
def get_hemisphere(url):
    browser.visit(url)
    html = browser.html
    soup = bs(html, 'html.parser')
    img_url = soup.find('img', class_='wide-image')['src']
    img_url = "https://astrogeology.usgs.gov" + img_url
    title = soup.find('title').text.split(" |")
    title = title[0]
    d = ({'title':title,'img_url': img_url}) 
    return d

In [65]:
url1 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
url2 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
url3 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
url4 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'

dict1 = get_hemisphere(url1)
dict2 = get_hemisphere(url2)
dict3 = get_hemisphere(url3)
dict4 = get_hemisphere(url4)

In [67]:
print(dict1)
print(dict2)
print(dict3)
print(dict4)

{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}
{'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}
{'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}
{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}